*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 4%;
}

.item{
    display: flex;
    flex-direction: column;
    height: 300px;
    box-shadow: 1px 4px 8px 8px #2c2c2c10;
    border-radius: 1em;
}

.item__section--color{
height: 50%;
background-color: tomato;
border-radius: inherit;
}

.item__section--description{
    padding: 1em 1.5em;
}

.span-2{
    grid-column: span 2;
}

.span-3{
    grid-column: span 3;
}
.span-4{
    grid-column: span 4;
}